.model-content{
    border-radius: 50rpx 50rpx 0 0;
    background: #ffffff;
    position: relative;
    .model-icon{
        position: absolute;
        width: 120rpx;
        height: 120rpx;
        top: -60rpx;
        left: 50%;
        margin-left: -60rpx;
        border-radius: 100rpx;
        overflow: hidden;
        image{
            margin: 15rpx 0 0 15rpx;
            width: 90rpx;
            height: 90rpx;
        }
    }
    .header{
        height: 40rpx;
        width: 100%;
        position: relative;
        .icon{
            position: absolute;
            right: 40rpx;
            top: 20rpx;
        }
    }
}
.model-style{
    overflow: inherit;
    background: none
}
